.user-posts-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 16;
    background-color: #FFFFFF;
    width: 35vmax;
    height: 65vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
}

.user-posts-header-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    width: 100%;
    max-height: 10%;
}

.user-posts-header-container h1{
    font-family: 'Baloo Thambi 2', cursive;
    color: #404040;
}

.user-posts-header-container p{
    font-family: 'Baloo Thambi 2', cursive;
    color: #404040;
    font-weight: 500;
    display: block;
    position: absolute;
    left: 2%;
    border: 3px solid #508ae1;
    padding: 5px;
    padding-inline: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.user-posts-header-container p:hover{
    animation: colorChange 0.5s forwards;
}

@keyframes colorChange{
    to{
        color: #FFFFFF;
        background-color: #508ae1;
    }
}

.user-posts-body-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding-top: 15px;
}

.post-child{
    display: flex;
    flex-direction: row;
    flex: 2;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    border: 3px solid #508ae1;
    width: 80%;
    height: fit-content;
    margin-block: 10px;
    padding-inline: 15px;
    border-radius: 10px;
}

.post-child-top{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;

}

.post-child-top h4{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0;
}

.post-child-bottom{
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100%;
    justify-content: flex-end;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
    font-size: 1.25em;
    color: #508ae1;
}
